#pushed_checkbox_send_push {
    margin: 1px 1px 0 0;
}

#pushed_message_content {
    width: 100%;
    height: 100px;
}

input[name='pushed_app_key[text_string]'],
input[name='pushed_app_secret[text_string]'],
input[name='pushed_target_alias[text_string]'],
select[name='pushed_target_type[text_string]'] {
    width: 50%;
}